server:
  port: 8021

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: postgres
    password: admin
    hikari:
      pool-name: UserHikariPool
      maximum-pool-size: 10
      minimum-idle: 4
      connection-timeout: 30000
      idle-timeout: 30000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: user-service-group
      auto-offset-reset: earliest
      allow-auto-create-topics: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
      instance:
        instance-id: ${spring.application.name}:${server.port}


security:
  jwt:
    secret: "TgsAuthServiceJwtKey_2025_Secure!"
