server:
  port: 8084

spring:
  application:
    name: driver-service

  datasource:
    url: jdbc:postgresql://localhost:5432/driverdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: localhost
    port: 6379

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: driver-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

security:
  jwt:
    secret: TgsAuthServiceJwtKey_2025_Secure!
    expiration: 3600000   # 1 hour


logging:
  level:
    root: INFO
    org.springframework.kafka: DEBUG   # optional: helpful for Kafka debugging
