server:
  port: 8089

spring:
  application:
    name: location-service

  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

security:
  jwt:
    secret: TgsAuthServiceJwtKey_2025_Secure!